body {
	margin:0;
	font-family:'Heebo', sans-serif;}

form {
	color:#666;}
#formTitle {
	font-size:1.1em;
	font-weight:bold;}

.button {
	margin:5px;
	padding:4px 13px;
	font-size:1.02em;
	color:#007FFF;
	background-color:#fff;
	border:none;
	border-radius:5px;}

#leftAlignBlock {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	text-align:left;}

#tiny {
	margin-top:15px;
	line-height:16px;
	font-size:0.7em;}

.message {
	color:red;
	font-size:0.8em;
}